
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Chonburi&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('asses/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

strong{
    font-weight:600;
}

.quadrado{
    width: 1200px;
    height: 630px;
    background-color: rgba(248, 199, 201, 0.5);
    border-radius: 120px;
}
.apresentacao{
    padding: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.apresentacao__conteudo{
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 600;
    width: 1200px;
}

.apresentacao__conteudo__titulo{
    font-weight: bold;
    font-family: "Chonburi", serif;
    color: black;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family:"Noto Sans Display", sans-serif ;
    font-size: 25px;
}

.apresentacao__conteudo__links{
    font-family: "Chonburi", serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.apresentacao__conteudo__links__link{
    display: flex;
    align-items:center;
    border: 2px solid black;
    color: black;
    font-size: 25px;
    height: 70px;
    width: 290px;
    border-radius: 120px;
    text-align: center;
    text-decoration: none;
}
.apresentacao__conteudo__links__link:hover{
    background-color: #88BBD8;
}

img{
    padding: 42px;
    border-radius: 120px;
    max-width: 500px;
    height: auto;
}

