@import url('https://fonts.googleapis.com/css2?family=Notable&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: mistyrose;
    color: black;
}

h1{
    font-weight: bold;
}

strong{
    font-weight: bold;
}

.apresentacao{
    margin: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 615px;
    border-width: 3px;
    border-color: lightcoral;
    border-style: dotted;
    padding: 20px;
}

.apresentacao__conteudo__titulo{
    font-family:"Noto Sans Display", sans-serif ;
    color: black;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: center;
}

.apresentacao__conteudo__links__link{
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 600;
    color: black;
    padding: 15px 0;
    font-size: 25px;
    background-color: indianred;
    width: 230px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;

}

